/*
 * Auther：i@mpengju.com
   version：0.5
   description：public css
 * 
 */
section .main div {
  height: 880px;
  float: right;
}
section .main div.left {
  width: 38%;
  min-width: 606px;
}
section .main div.right {
  width: 56%;
  min-width: 894px;
}
section .main div article {
  margin: 0 20px 20px 0;
  float: right;
}
section .main div.right article {
  float: left;
}
section .right article:nth-child(1) {
  background: url(../images/tnews/bg-1.png) no-repeat;
  width: 301px;
  height: 545px;
}
section .right article:nth-child(2) {
  background: url(../images/tnews/bg-2.png) no-repeat;
  width: 545px;
  height: 545px;
}
section .left article:nth-child(1) {
  background: url(../images/tnews/bg-3.png) no-repeat;
  width: 597px;
  height: 301px;
  margin-right: 14px;
}
section .right article:nth-child(3) {
  background: url(../images/tnews/bg-4.png) no-repeat;
  width: 545px;
  height: 301px;
}
section .right article:nth-child(4) {
  background: url(../images/tnews/bg-5.png) no-repeat;
  width: 301px;
  height: 301px;
}
section .left article:nth-child(2) {
  background: url(../images/tnews/bg-6.png) no-repeat;
  width: 301px;
  height: 545px;
  float: left;
}
section .left article:nth-child(3) {
  background: url(../images/tnews/bg-7.png) no-repeat;
  width: 257px;
  height: 257px;
  margin-bottom: 28px;
}
section .left article:nth-child(4) {
  background: url(../images/tnews/bg-8.png) no-repeat;
  width: 257px;
  height: 257px;
}
section article{
	color: white;
}
section article{
	color: white;
}
section article ol{
	margin-right: 60px;
	margin-left: 30px;
	height: 126px;
}
section article ol li:nth-child(1){
	margin-top: 36px;
	width: 62px;
	height: 8px;
	background: white;
	margin-bottom: 16px;
}
section article ol li:nth-child(2){
	font-size: 39px;
}
section article ul{
	width: 90%;
	margin: auto;
}
section article ul a{
	font-size: 34px;
	line-height: 40px;
}
section article ul a img{
	margin-right: 30px;
}
section article ul li{
	margin-bottom: 20px;
}
