<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dctc.ts.common.portal.mappercustom.BaseCarouselCustomMapper" >

  <resultMap id="BaseResultMap" type="com.dctc.ts.common.portal.bean.BaseCarousel" >
    <id column="seqid" property="seqid" jdbcType="INTEGER" />
    <result column="orgid" property="orgid" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="thumbnail" property="thumbnail" jdbcType="VARCHAR" />
    <result column="thumbnail_app" property="thumbnailApp" jdbcType="VARCHAR" />
    <result column="link" property="link" jdbcType="VARCHAR" />
    <result column="sorts" property="sorts" jdbcType="INTEGER" />
    <result column="startdate" property="startdate" jdbcType="DATE" />
    <result column="enddate" property="enddate" jdbcType="DATE" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="createdtime" property="createdtime" jdbcType="TIMESTAMP" />
  </resultMap>

  <!-- 轮播图 -->
  <select id="find_carousel" resultMap="BaseResultMap" >
    select *
    from base_carousel
    order by sorts desc
    limit 0,5
  </select>
  
</mapper>