<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dctc.ts.common.portal.mappercustom.BaseUsersCustomMapper" >

  <select id="login" resultType="java.lang.Integer" parameterType="java.util.Map">
  	select userid
  	from base_users
  	where username like #{username}
  	and passwd like #{passwd}	
  </select>
  
  <select id="login_personal" resultType="com.dctc.ts.common.portal.bean.BaseUsers" parameterType="java.lang.Integer">
  	select *
  	from base_users
  	where userid = #{userid}
  </select>
   
</mapper>