<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dctc.ts.common.portal.mappercustom.SelfJournalCustomMapper" >

  <resultMap id="BaseResultMap" type="com.dctc.ts.common.portal.bean.SelfJournal">
    <id column="seqid" jdbcType="INTEGER" property="seqid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="thumbnail" jdbcType="VARCHAR" property="thumbnail" />
    <result column="createdtime" jdbcType="TIMESTAMP" property="createdtime" />
    <result column="creator" jdbcType="INTEGER" property="creator" />
  </resultMap>
  
  <!-- list -->
  <select id="find_journal_list" resultMap="BaseResultMap" parameterType="java.util.Map">
    select *
    from self_journal
    group by title
    order by createdtime
    limit #{pageIndex},#{pageSize}
  </select>
  
</mapper>