<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dctc.ts.common.portal.mappercustom.BaseClassesCustomMapper" >

  <resultMap id="BaseResultMap" type="com.dctc.ts.common.portal.bean.BaseClasses" >
    <id column="classid" property="classid" jdbcType="INTEGER" />
    <result column="classname" property="classname" jdbcType="VARCHAR" />
    <result column="parentclassid" property="parentclassid" jdbcType="INTEGER" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="sorts" property="sorts" jdbcType="INTEGER" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
    <result column="issub" property="issub" jdbcType="INTEGER" />
  </resultMap>
  
  <!-- 新闻本身是父分类 -->
  <select id="find_news_class" resultMap="BaseResultMap" >
    select classid,classname,icon
	from base_classes
	where parentclassid = 1
	order by sorts asc
  </select>
  
</mapper>