<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dctc.ts.common.portal.mappercustom.BaseOrganizationCustomMapper" >

  <select id="find_featureCode" resultType="java.lang.Integer" parameterType="java.lang.String">
  	select count(*) 
  	from base_client 
  	where featurecode like #{featureCode} 
  </select>
  
  <!--  机构已注册的设备数量 -->
  <select id="current_number" resultType="java.lang.Integer" parameterType="java.lang.String">
  	select count(*)
  	from base_client as bc
  	left join base_organization as bo
  	on bc.orgid = bo.orgid
  	where bo.orgno like #{agencyCode}
  </select>
  
  <!-- 机构注册设备上限 -->
  <select id="limit_number" resultType="java.lang.Integer" parameterType="java.lang.String">
  	select SUM(bk.clientnum)
  	from base_key as bk
  	left join base_organization as bo
  	on bk.orgid = bo.orgid
  	where bo.orgno like #{agencyCode}
  </select>

  <select id="find_organizationID" resultType="java.lang.Integer" parameterType="java.lang.String">
  	select orgid
  	from base_organization 
  	where orgno like #{agencyCode}
  </select>
  
</mapper>