<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dctc.ts.common.portal.mappercustom.ChosenFavoritesCustomMapper" >

  <resultMap id="BaseResultMap" type="com.dctc.ts.common.portal.bean.ChosenFavorites" >
    <id column="seqid" property="seqid" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="restype" property="restype" jdbcType="VARCHAR" />
    <result column="rescode" property="rescode" jdbcType="VARCHAR" />
    <result column="resremark" property="resremark" jdbcType="VARCHAR" />
    <result column="createdtime" property="createdtime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <select id="my_favorite" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  	select *
  	from chosen_favorites
  	where userid = #{userid}
  </select>
  
  <delete id="delete_cancel" parameterType="java.util.Map">
    delete from chosen_favorites
    where userid = #{userid} 
    and rescode like #{rescode}
    and restype like #{restype}
  </delete>
  
</mapper>