<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dctc.ts.common.portal.mappercustom.SelfPaperlayCustomMapper" >

  <resultMap id="BaseResultMap" type="com.dctc.ts.common.portal.bean.SelfPaperlay" >
    <id column="seqid" property="seqid" jdbcType="INTEGER" />
    <result column="paperid" property="paperid" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="sorts" property="sorts" jdbcType="INTEGER" />
    <result column="pubdate" property="pubdate" jdbcType="DATE" />
    <result column="thumbnail" property="thumbnail" jdbcType="VARCHAR" />
    <result column="thumbnailm" property="thumbnailm" jdbcType="VARCHAR" />
  </resultMap>
  
  <!-- 报纸版面 -->
  <select id="find_paperlay_list" resultMap="BaseResultMap" parameterType="java.util.Map">
  	select *
  	from self_paperlay 
  	where paperid = #{seqid}
	  <if test="date != null and date != '' " >
        and pubdate = #{date}
      </if>
  	<!-- order by sorts asc -->
  </select>
  
  <!-- append_maxtime -->
  <select id="append_maxtime" resultType="java.util.Date" parameterType="java.lang.Integer">
  	select MAX(pubdate)
  	from self_paperlay 
  	where paperid = #{seqid}
  </select>
  
</mapper>