<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dctc.ts.common.portal.mapper.SelfBookDiscMapper" >
  <resultMap id="BaseResultMap" type="com.dctc.ts.common.portal.bean.SelfBookDisc" >
    <id column="seqid" property="seqid" jdbcType="INTEGER" />
    <result column="pagerid" property="pagerid" jdbcType="INTEGER" />
    <result column="bookid" property="bookid" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.dctc.ts.common.portal.bean.SelfBookDisc" extends="BaseResultMap" >
    <result column="fulltxt" property="fulltxt" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    seqid, pagerid, bookid, status
  </sql>
  <sql id="Blob_Column_List" >
    fulltxt
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from self_bookdisc
    where seqid = #{seqid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from self_bookdisc
    where seqid = #{seqid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dctc.ts.common.portal.bean.SelfBookDisc" >
    insert into self_bookdisc (seqid, pagerid, bookid, 
      status, fulltxt)
    values (#{seqid,jdbcType=INTEGER}, #{pagerid,jdbcType=INTEGER}, #{bookid,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{fulltxt,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dctc.ts.common.portal.bean.SelfBookDisc" >
    insert into self_bookdisc
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="seqid != null" >
        seqid,
      </if>
      <if test="pagerid != null" >
        pagerid,
      </if>
      <if test="bookid != null" >
        bookid,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="fulltxt != null" >
        fulltxt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="seqid != null" >
        #{seqid,jdbcType=INTEGER},
      </if>
      <if test="pagerid != null" >
        #{pagerid,jdbcType=INTEGER},
      </if>
      <if test="bookid != null" >
        #{bookid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="fulltxt != null" >
        #{fulltxt,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dctc.ts.common.portal.bean.SelfBookDisc" >
    update self_bookdisc
    <set >
      <if test="pagerid != null" >
        pagerid = #{pagerid,jdbcType=INTEGER},
      </if>
      <if test="bookid != null" >
        bookid = #{bookid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="fulltxt != null" >
        fulltxt = #{fulltxt,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where seqid = #{seqid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.dctc.ts.common.portal.bean.SelfBookDisc" >
    update self_bookdisc
    set pagerid = #{pagerid,jdbcType=INTEGER},
      bookid = #{bookid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      fulltxt = #{fulltxt,jdbcType=LONGVARCHAR}
    where seqid = #{seqid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dctc.ts.common.portal.bean.SelfBookDisc" >
    update self_bookdisc
    set pagerid = #{pagerid,jdbcType=INTEGER},
      bookid = #{bookid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where seqid = #{seqid,jdbcType=INTEGER}
  </update>
</mapper>